@page "/"

@inherits ItemBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="max_width_lg">

    @if(this.ContactEntityDtos == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <CascadingValue Value="@this.ContactEntityDtos" Name="@nameof(CascadingData.EntitiesParameterValue)" IsFixed="false">
            <CascadingValue Value="@this.IsCrudCascadingParameter" Name="@nameof(this.IsCrudValue)">
                <CascadingValue Value="@this.IsPageAdminCascadingParameter" Name="@nameof(this.IsPageAdminValue)">
                    <IndexContainer />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    }

    <PageFeature OnSelectedPage="this.SelectedPage" OnSortChanged="this.SortChanged" OnSearchChanged="SearchChanged" PagerDataParameter="@this.PagerData" SelectParameter="@this.ItemSelect" SpreadParameter="@SharedData.Spread" PositionCssClassParameter="@this.PositionCssClass" />
</div>

<div class="page-top">
    <NavLink href="/" class="top"></NavLink>
</div>
