
@inherits Component

@if(this.IsPageAdminCascadingParameter)
{
    <p class="text table">
        <a class="btn btn_primary btn_sm" href="@PageRoute.ContactBookAdminCreate">
            Create
        </a>
    </p>
    
}

<div class="card_group margin_top_bottom_5">

    <div class="@CssData.CardGroupCss">

        <Repeater TEntity="ContactEntityDto" Entities="@this.EntitiesCascadingParameter">
            <Entity Context="item">
                <CascadingValue Value="@item" Name="@nameof(CascadingData.EntityParameterValue)" IsFixed="false">
                    <CascadingValue Value="@this.IsCrudCascadingParameter" Name="@nameof(this.IsCrudValue)" IsFixed="false">
                        <CascadingValue Value="@CssData.CardBodyCss" Name="@nameof(CascadingData.CardBodyCssCascadingValue)" IsFixed="false">

                        

                            <ItemCard />

                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </Entity>
        </Repeater>

    </div>
</div>
