
@inherits ItemDataBase

@{
    var ItemLink = $"{PageRoute.S_AdminDetails}/{this.EntityCascadingParameter.Id}";
}

<CascadingValue Value="@ItemLink" Name="@nameof(CascadingData.TargetUrlCascadingValue)" IsFixed="false">
    <CascadingValue Value="@CssData.CardLinkCssCascadingValueThemeBlueB" Name="@nameof(CascadingData.CardLinkCssCascadingValue)" IsFixed="false">
        <CascadingValue Value="@CssData.CardHeaderCss" Name="@nameof(CascadingData.CardHeaderCssCascadingValue)" IsFixed="false">

            <div class="card">
                <div class="card_header">
                    @this.EntityCascadingParameter.ContactName
                </div>
                <div class="card_body">
                    <div class="card_text">
                        @this.EntityCascadingParameter.FirstName
                    </div>
                    <div class="card_text">
                        @this.EntityCascadingParameter.Email
                    </div>
                    <div class="card_text">
                        Checked: @this.IsDone
                    </div>
                </div>

                @if(this.IsCrudCascadingParameter)
                {
                    <div class="card_link_group_xs">
                        <a href="@ItemLink" class="@CssData.CardLinkCssCascadingValueThemeBlueB">
                            Detail
                        </a>
                    </div>
                }

                <div class="card_footer">
                    ID: #@this.EntityCascadingParameter.Id
                </div>
            </div>

        </CascadingValue>
    </CascadingValue>
</CascadingValue>



@*With Card
<CascadingValue Value="@ItemLink" Name="@nameof(CascadingData.TargetUrlCascadingValue)" IsFixed="false">
    <CascadingValue Value="@CssData.CardLinkCssCascadingValueThemeBlueB" Name="@nameof(CascadingData.CardLinkCssCascadingValue)" IsFixed="false">


        <CascadingValue Value="@CssData.CardHeaderCss" Name="@nameof(CascadingData.CardHeaderCssCascadingValue)" IsFixed="false">
            <Card TEntity="ContactEntityDto" class="@CssData.CardCssThemeBlueB">
                <CardHeader TEntity="ContactEntityDto">
                    @this.EntityCascadingParameter.ContactName
                </CardHeader>
                <CardBody TEntity="ContactEntityDto">
                    <CardText TEntity="ContactEntityDto">
                        @this.EntityCascadingParameter.FirstName
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.EntityCascadingParameter.Email
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        Checked: @this.IsDone
                    </CardText>

                    @if(this.IsCrudCascadingParameter)
                    {
                        <CardLink TEntity="ContactEntityDto">
                            Detail
                        </CardLink>
                    }

                </CardBody>
                <CardFooter TEntity="ContactEntityDto">
                    ID: #@this.EntityCascadingParameter.Id
                </CardFooter>
            </Card>
        </CascadingValue>


    </CascadingValue>
</CascadingValue>*@




@*<CascadingValue Value="@ItemLink" Name="@nameof(CascadingData.TargetUrlCascadingValue)" IsFixed="false">
        <CascadingValue Value="@CssData.CardLinkCssCascadingValueThemeBlueB" Name="@nameof(CascadingData.CardLinkCssCascadingValue)" IsFixed="false">
            <Card TEntity="ContactEntityDto" class="@CssData.CardCssThemeBlueB">
                <CardHeader TEntity="ContactEntityDto">
                    @this.EntityCascadingParameter.ContactName
                </CardHeader>
                <CardBody TEntity="ContactEntityDto">
                    <CardText TEntity="ContactEntityDto">
                        @this.EntityCascadingParameter.FirstName
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.EntityCascadingParameter.Email
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        Checked: @this.IsDone
                    </CardText>

                    @if(this.IsCrudCascadingParameter)
                    {
                        <CardLink TEntity="ContactEntityDto">
                            Detail
                        </CardLink>
                    }

                </CardBody>
                <CardFooter TEntity="ContactEntityDto">
                    ID: #@this.EntityCascadingParameter.Id
                </CardFooter>
            </Card>
        </CascadingValue>
    </CascadingValue>*@

@*



    <CascadingValue Value="this.UrlDetail" Name="@nameof(CascadingData.TargetUrlCascadingValue)" IsFixed="false">
            <CascadingValue Value="@CssData.CardLinkCssCascadingValue" Name="@nameof(CascadingData.CardLinkCssCascadingValue)" IsFixed="false">
                <Card TEntity="ContactEntityDto" class="@CssData.CardCss">
                    <CardHeader TEntity="ContactEntityDto">
                        @this.EntityCascadingParameter.ContactName
                    </CardHeader>
                    <CardBody TEntity="ContactEntityDto">
                        <CardText TEntity="ContactEntityDto">
                            @this.EntityCascadingParameter.FirstName
                        </CardText>
                        <CardText TEntity="ContactEntityDto">
                            @this.EntityCascadingParameter.Email
                        </CardText>
                        <CardText TEntity="ContactEntityDto">
                            Checked: @this.IsDone
                        </CardText>

                        @if(this.IsCrudCascadingParameter)
                        {
                            <CardLink TEntity="ContactEntityDto">
                                Detail
                            </CardLink>
                        }

                    </CardBody>
                    <CardFooter TEntity="ContactEntityDto">
                        ID: #@this.EntityCascadingParameter.Id
                    </CardFooter>
                </Card>
            </CascadingValue>
        </CascadingValue>*@
