
@inherits Component

<p class="text table">
    <a class="btn btn_primary btn_sm" href="@PageRoute.ContactBookAdminCreate">
        Create
    </a>
</p>

<div class="card_group margin_top_bottom_5">
    <div class="@CssData.CardGroupCss">

        <Repeater TEntity="ContactEntityDto" Entities="@this.EntitiesCascadingParameter">
            <Entity Context="item">
                <div class="card">
                    <div class="card_header">
                        ID: #@this.GetId(item)
                    </div>
                    <div class="card_body_1">
                        <div class="card_text">
                            Contact: @item.ContactName
                        </div>
                        <div class="card_text">
                            First Name: @item.FirstName
                        </div>
                        <div class="card_text">
                            Email: @item.Email
                        </div>
                        <div class="card_text">
                            Tel: @item.Phone
                        </div>
                    </div>
                    <div class="card_link_group_xs">
                        <a href="@this.GetLink(item)" class="@CssData.CardLinkCssCascadingValueThemeBlueB">
                            Detail
                        </a>
                    </div>
                    <div class="card_footer">
                        Checked: @this.GetIsChecked(item)
                    </div>
                </div>
            </Entity>
        </Repeater>

    </div>
</div>
