@page "/ContactBook/Admin/Delete/{id:int}"

@inherits ItemBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="container">
    @if(this.ContactEntityDto?.Id == 0)
    {
        <h1>Nothing to Delete</h1>
    }
    else
    {
        <h5 class="text_center">@this.FormTitle</h5>

        <div class="EditForm">
            <EditForm Model="@this.ContactEntityDto" OnValidSubmit="@this.DeleteAsync">
                <DataAnnotationsValidator />
                <input type="hidden" @bind="this.ContactEntityDto.Id" />

                <div class="form_group">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">
                                #@this.EntryId: @this.ContactEntityDto.ContactName
                            </p>
                            <p class="card-text">
                                First Name: @this.ContactEntityDto.FirstName
                            </p>
                            <p class="card-text">
                                Last Name: @this.ContactEntityDto.LastName
                            </p>
                            <p class="card-text">
                                Email: @this.ContactEntityDto.Email
                            </p>
                            <p class="card-text">
                                Phone: @this.ContactEntityDto.Phone
                            </p>
                            <p class="card-text">
                                Address: @this.ContactEntityDto.Address
                            </p>
                            <p class="card-text">
                                Done: @this.IsDone
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form_group">
                    <a class="btn btn_primary btn_sm" href="@PageRoute.ContactBookAdmin">Cancel</a>
                    <button type="submit" class="btn btn_danger btn_sm">Delete</button>
                </div>
            </EditForm>
        </div>
    }
</div>

<div class="page-top">
    <NavLink href="@PageRoute.ContactBookAdminDelete" class="top"></NavLink>
</div>
