@page "/ContactBook/Admin/Delete/{id:int}"

@inherits ItemBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="container_basic">
    @if(this.ContactEntityDto?.Id == 0)
    {
        <h1>Nothing to Delete</h1>
    }
    else
    {
        <h5 class="text_center">@this.FormTitle</h5>

        <div class="@CssData.CardCssThemeBlueB">
            <EditForm Model="@this.ContactEntityDto" OnValidSubmit="@this.DeleteAsync">
                <DataAnnotationsValidator />
                <input type="hidden" @bind="this.ContactEntityDto.Id" />

                <div class="card">
                    <ImageContainer ImageParameter="@this.ContactEntityDto.Image" MaxWidthParameter="max_width_sm card_img_top" />
                    <div class="card_header">
                        @this.ContactEntityDto.ContactName
                    </div>
                    <div class="card_body">
                        <div class="card_text">
                            @this.ContactEntityDto.FirstName
                        </div>
                        <div class="card_text">
                            @this.ContactEntityDto.LastName
                        </div>
                        <div class="card_text">
                            @this.ContactEntityDto.Email
                        </div>
                        <div class="card_text">
                            @this.ContactEntityDto.Phone
                        </div>
                        <div class="card_text">
                            @this.ContactEntityDto.Address
                        </div>
                        <div class="card_text">
                            Checked: @this.IsDone
                        </div>
                        <div class="card_text">
                            Category Id: @this.ContactEntityDto.ContactEntityCategoryId
                        </div>
                        <div class="card_text">
                            Contact Category: @this.ContactEntityDto.ContactCategory
                        </div>
                    </div>

                    <div class="card_link_group_xs card_link_group_md_2">
                        <a href="@PageRoute.ContactBookAdmin" class="@CssData.CardLinkCssCascadingValueThemeBlueB">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn_danger btn_sm">Delete</button>
                    </div>
                    <div class="card_footer">
                        ID: #@this.ContactEntityDto.Id
                    </div>
                </div>

                @*<div class="form_group">
                    <a href="@PageRoute.ContactBookAdmin" class="@CssData.CardLinkCssCascadingValueThemeBlueB">Cancel</a>
                    <button type="submit" class="btn btn_danger btn_sm">Delete</button>
                </div>*@
            </EditForm>
        </div>
    }
</div>

<div class="page-top">
    <NavLink href="@PageRoute.ContactBookAdminDelete" class="top"></NavLink>
</div>
