@page "/ContactBook/admin/details/{Id:int}"

@inherits ItemBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="container_basic">

    @if(this.ContactEntityDto?.Id == 0)
    {
        <div class="card">
            <div class="card_body">
                <p class="card-text">No Item to show.</p>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <ImageContainer ImageParameter="@this.ContactEntityDto.Image" class="@CssData.FormFeedbackImageCss" />
            <div class="card_header">
                ID: #@this.ContactEntityDto.Id
            </div>
            <div class="card_body_1 card_body_2">
                <div class="card_text">
                    Contact: @this.ContactEntityDto.ContactName
                </div>
                <div class="card_text">
                    Category: @this.ContactEntityDto.ContactCategory
                </div>
                <div class="card_text">
                    First Name: @this.ContactEntityDto.FirstName
                </div>
                <div class="card_text">
                    Last Name: @this.ContactEntityDto.LastName
                </div>
                <div class="card_text">
                    Email: @this.ContactEntityDto.Email
                </div>
                <div class="card_text">
                    Tel: @this.ContactEntityDto.Phone
                </div>
                <div class="card_text">
                    Address: @this.ContactEntityDto.Address
                </div>
                <div class="card_text">
                    Category Id: @this.ContactEntityDto.ContactEntityCategoryId
                </div>
            </div>
            <div class="card_footer">
                Checked: @this.IsDone
            </div>
            <div class="card_link_group_xs card_link_group_md">
                <LinkButton Url="@PageRoute.ContactBookAdmin" Css="@CssData.CardLinkCssCascadingValueThemeBlueB">
                    <UrlLink>
                        Back
                    </UrlLink>
                </LinkButton>
                <LinkButton Url="@this.UrlUpdate" Css="@CssData.CardLinkCssCascadingValueThemeBlueB">
                    <UrlLink>
                        Edit
                    </UrlLink>
                </LinkButton>
                <LinkButton Url="@this.UrlDelete" Css="btn btn_danger btn_sm">
                    <UrlLink>
                        X
                    </UrlLink>
                </LinkButton>
            </div>
        </div>
    }
</div>
<div class="page-top">
    <NavLink href="@PageRoute.ContactBookAdminDetails" class="top"></NavLink>
</div>
