@page "/ContactBook/admin/details/{Id:int}"

@inherits ItemBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="container_basic">

    @if(this.ContactEntityDto?.Id == 0)
    {
        <div class="card">
            <div class="card_body">
                <p class="card-text">No Item to show.</p>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card_header">
                @this.ContactEntityDto.ContactName
            </div>
            <div class="card_body">
                <div class="card_text">
                    @this.ContactEntityDto.FirstName
                </div>
                <div class="card_text">
                    @this.ContactEntityDto.LastName
                </div>
                <div class="card_text">
                    @this.ContactEntityDto.Email
                </div>
                <div class="card_text">
                    @this.ContactEntityDto.Phone
                </div>
                <div class="card_text">
                    @this.ContactEntityDto.Address
                </div>
                <div class="card_text">
                    Checked: @this.IsDone
                </div>
                <div class="card_text">
                    Category Id: @this.ContactEntityDto.ContactEntityCategoryId
                </div>
                <div class="card_text">
                    Contact Category: @this.ContactEntityDto.ContactCategory
                </div>
            </div>

            <div class="card_link_group_xs card_link_group_md">
                <a href="@PageRoute.ContactBookAdmin" class="@CssData.CardLinkCssCascadingValueThemeBlueB">
                    Back
                </a>
                <a href="@this.UrlUpdate" class="@CssData.CardLinkCssCascadingValueThemeBlueB">
                    Edit
                </a>
                <a href="@this.UrlDelete" class="btn btn_danger btn_sm">
                    X
                </a>
            </div>
            <div class="card_footer">
                ID: #@this.ContactEntityDto.Id
            </div>
        </div>


        @*with Card component
            <Card TEntity="ContactEntityDto" class="@CssData.CardCssThemeBlueB">
                <ImageContainer ImageParameter="@this.ContactEntityDto.Image" class="@CssData.CardImageTopCss" />
                <CardHeader TEntity="ContactEntityDto">
                    @this.ContactEntityDto.ContactName
                </CardHeader>
                <CardBody TEntity="ContactEntityDto">
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.FirstName
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.LastName
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.Email
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.Phone
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.Address
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        Checked: @this.IsDone
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        Category Id: @this.ContactEntityDto.ContactEntityCategoryId
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        Contact Category: @this.ContactEntityDto.ContactCategory
                    </CardText>

                    <CardLink TEntity="ContactEntityDto" LinkUrl="@PageRoute.ContactBookAdmin" LinkCss="@CssData.CardLinkCssCascadingValueThemeBlueB">
                        Back
                    </CardLink>
                    <CardLink TEntity="ContactEntityDto" LinkUrl="@this.UrlUpdate" LinkCss="@CssData.CardLinkCssCascadingValueThemeBlueB">
                        Edit
                    </CardLink>
                    <CardLink TEntity="ContactEntityDto" LinkUrl="@this.UrlDelete" LinkCss="btn btn_danger btn_sm">
                        X
                    </CardLink>
                </CardBody>
                <CardFooter TEntity="ContactEntityDto">
                    ID: #@this.ContactEntityDto.Id:
                </CardFooter>
            </Card>*@
    }
</div>
<div class="page-top">
    <NavLink href="@PageRoute.ContactBookAdminDetails" class="top"></NavLink>
</div>
