@page "/ContactBook/Admin/Update/{Id:int}"

@inherits ItemBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="container_basic">

    @if(this.ContactEntityDto?.Id == 0)
    {
        <div class="card">
            <div class="card_body">
                <p class="card-text">No Item to edit.</p>
            </div>
        </div>
    }
    else
    {
        <div class="@CssData.CardCssThemeBlueB">

            <ImageContainer ImageParameter="@this.ContactEntityDto.Image" MaxWidthParameter="max_width_sm card_img_top" />

            <div class="card_header">
                Contact Name: @this.ContactEntityDto.ContactName
            </div>
            <div class="card_body">
                <p class="card_title">
                    Done: @this.IsDone
                </p>
                <p class="card_text">
                    First Name: @this.ContactEntityDto.FirstName
                </p>
                <p class="card_text">
                    Last Name: @this.ContactEntityDto.LastName
                </p>
                <p class="card_text">
                    Email: @this.ContactEntityDto.Email
                </p>
                <p class="card_text">
                    Phone: @this.ContactEntityDto.Phone
                </p>
                <p class="card_text">
                    Address: @this.ContactEntityDto.Address
                </p>
                <p class="card_text">
                    Contact Category: @this.ContactEntityDto.ContactCategory
                </p>
                <p class="card_text">
                    Category Id: @this.ContactEntityDto.ContactEntityCategoryId
                </p>
            </div>
            <div class="card_footer">
                <p>
                    Id: #@this.ContactEntityDto.Id
                </p>
            </div>
        </div>

        @*<Card TEntity="ContactEntityDto" class="@CssData.CardCssThemeBlueB">

                <ImageContainer ImageParameter="@this.ContactEntityDto.Image" MaxWidthParameter="max_width_sm card_img_top" />

                <CardHeader TEntity="ContactEntityDto">
                    @this.ContactEntityDto.ContactName
                </CardHeader>
                <CardBody TEntity="ContactEntityDto">
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.FirstName
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.LastName
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.Email
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.Phone
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        @this.ContactEntityDto.Address
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        Checked: @this.IsDone
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        Category Id: @this.ContactEntityDto.ContactEntityCategoryId
                    </CardText>
                    <CardText TEntity="ContactEntityDto">
                        Contact Category: @this.ContactEntityDto.ContactCategory
                    </CardText>
                </CardBody>
                <CardFooter TEntity="ContactEntityDto">
                    ID: #@this.ContactEntityDto.Id
                </CardFooter>
            </Card>*@

        <div class="@CssData.CardCssThemeBlueB">
            <EditForm Model="@this.ContactEntityDto" OnValidSubmit="@this.UpdateAsync">
                <DataAnnotationsValidator />
                <input type="hidden" @bind="this.ContactEntityDto.Id" />

                <div class="form_group">
                    <label for="ContactName" class="control_label">Contact Name</label>
                    <InputText @bind-Value="this.ContactEntityDto.ContactName" id="ContactName" class="form_control" placeholder="Contact Name"></InputText>
                    <ValidationMessage For="@(() => this.ContactEntityDto.ContactName)" />
                </div>
                <div class="form_group">
                    <label for="FirstName" class="control_label">First Name</label>
                    <InputText @bind-Value="this.ContactEntityDto.FirstName" id="FirstName" class="form_control" placeholder="First Name"></InputText>
                    <ValidationMessage For="@(() => this.ContactEntityDto.FirstName)" />
                </div>
                <div class="form_group">
                    <label for="LastName" class="control_label">Last Name</label>
                    <InputText @bind-Value="this.ContactEntityDto.LastName" id="LastName" class="form_control" placeholder="Last Name"></InputText>
                    <ValidationMessage For="@(() => this.ContactEntityDto.LastName)" />
                </div>
                <div class="form_group">
                    <label for="Email" class="control_label">Email</label>
                    <InputText @bind-Value="this.ContactEntityDto.Email" id="Email" class="form_control" placeholder="Email"></InputText>
                    <ValidationMessage For="@(() => this.ContactEntityDto.Email)" />
                </div>
                <div class="form_group">
                    <label for="Phone" class="control_label">Phone</label>
                    <InputText @bind-Value="this.ContactEntityDto.Phone" id="Phone" class="form_control" placeholder="Phone"></InputText>
                    <ValidationMessage For="@(() => this.ContactEntityDto.Phone)" />
                </div>
                <div class="form_group">
                    <label for="Address" class="control_label">Address</label>
                    <InputTextArea @bind-Value="this.ContactEntityDto.Address" id="Address" class="form_control" rows="3" />
                    <ValidationMessage For="@(() => this.ContactEntityDto.Address)" />
                </div>

                <div class="form_group">
                    <input type="hidden" @bind="this.CategoryId" />
                    <label for="ContactEntityCategoryId" class="control_label">Category</label>
                    <InputSelect @bind-Value="@this.CategoryId" id="ContactEntityCategoryId" class="form_control">
                        <option value="0">-- Select a Category --</option>

                        @foreach(var item in this.Categories)
                            {
                            <option value="@item.Id">@item.Name</option>
                            }

                        @{
                                this.ContactEntityDto.ContactEntityCategoryId = this.GetCategoryId(categoryId: this.CategoryId);
                        }
                    </InputSelect>
                </div>
                <div class="form_group checkboxes grid_col_repeat_1_1fr">
                    <label for="@this.ContactEntityDto.Id" class="control_label option_item">
                        <InputCheckbox @bind-Value="this.ContactEntityDto.IsChecked" class="checkbox" id="@this.ContactEntityDto.Id" />
                        <span class="option_inner theme">
                            <span class="tickmark"></span>
                            <span class="name">
                                Check?
                            </span>
                        </span>

                        <ValidationMessage For="@(() => this.ContactEntityDto.IsChecked)" />
                    </label>
                </div>
                <div class="form_group">
                    <label for="Image" class="control_label">Image:</label>
                    <div class="ToDo___">
                        <Uploader OnChange="this.AssignImageUrl" />
                    </div>
                </div>
                <div class="form_group">
                    <a class="@CssData.CardLinkCssCascadingValueThemeBlueB" href="@PageRoute.ContactBookAdmin">
                        Cancel
                    </a>
                    <button type="submit" class="@CssData.CardLinkCssCascadingValueThemeBlueB" disabled="@this.IsDisabled">
                        Save
                    </button>
                </div>
            </EditForm>
        </div>
    }
</div>

<div class="page-top">
    <NavLink href="@PageRoute.ContactBookAdminUpdate" class="top"></NavLink>
</div>


@*

    <div class="card">
        <ImageContainer ImageParameter="@this.ContactEntityDto.Image" MaxWidthParameter="max_width_sm card_img_top" />
        <div class="card_body">
            <p class="card_title">
                Contact Name: @this.ContactEntityDto.ContactName
            </p>
            <p class="card_text">
                First Name: @this.ContactEntityDto.FirstName
            </p>
            <p class="card_text">
                Last Name: @this.ContactEntityDto.LastName
            </p>
            <p class="card_text">
                Email: @this.ContactEntityDto.Email
            </p>
            <p class="card_text">
                Phone: @this.ContactEntityDto.Phone
            </p>
            <p class="card_text">
                Address: @this.ContactEntityDto.Address
            </p>
            <p class="card_text">
                Done: @this.IsDone
            </p>
            <p class="card_text">
                Id: #@this.ContactEntityDto.Id
            </p>
        </div>
    </div>

*@
