
@*@typeparam TEntity

@inherits Component

<div class="card-body">
    @if(this.CardTitle != null)
    {
        <h5 class="card_title">
            @this.CardTitle
        </h5>
    }

    @if(this.CardText != null)
    {
        <p class="card_text">
            @this.CardText
        </p>
    }

    @if(this.IsCrudCascadingParameter && this.CardLink != null)
    {
        <a class="btn btn_theme_b btn_sm btn_min_width" href="@this.CardLinkCascadingParameter">
            @this.CardLink
        </a>
    }


    @this.ExtraContent(this.Entity)

</div>*@
