@page "/Admin"
@page "/Admin/{Id:int}"

@inherits ItemBase

<Banner BannerTitleParameter="@this.BannerTitleValue" AppNameParameter="@this.AppNameValue" />

<div class="max_width_lg">

    @if(this.Items == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <CascadingValue Value="@this.Items" Name="@nameof(CascadingData.EntitiesParameterValue)" IsFixed="false">
            <CascadingValue Value="@this.IsCrudValue" Name="@nameof(CascadingData.IsCrudParameterValue)">
                <CascadingValue Value="@this.IsPageAdminValue" Name="@nameof(CascadingData.IsPageAdminParameterValue)">
                    <IndexContainer />
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    }

    <PageFeature PagerDataParameter="@this.PagerData" OnSelectedPage="this.SelectedPage" OnSortChanged="this.SortChanged" OnSearchChanged="this.SearchChanged" SelectParameter="@this.ItemSelect" SpreadParameter="@SharedData.Spread" />

</div>

<div class="page-top">
    <NavLink href="@PageRoute.Admin" class="top"></NavLink>
</div>
